@font-face {
    font-family: 'berkelium_64medium';
    src: url('.../styles/myFonts/berkelium64-webfont.eot');
    src: url('.../styles/myFonts/berkelium64-webfont.eot?#iefix') format('embedded-opentype'),
         url('.../styles/myFonts/berkelium64-webfont.woff') format('woff'),
         url('.../styles/myFonts/berkelium64-webfont.ttf') format('truetype'),
         url('.../styles/myFonts/berkelium64-webfont.svg#berkelium_64medium') format('svg');
    font-weight: normal;
    font-style: normal;

}



.overlay_BLACKwindow {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.BLACKwindow_nw {
	background: transparent url(BLACKwindow/left-top.gif) no-repeat 0 0;			
  width:10px;
  height:25px;
}

.BLACKwindow_n {
  background: transparent url(BLACKwindow/top-middle.gif) repeat-x 0 0;			
  height:25px;
}

.BLACKwindow_ne {
  background: transparent url(BLACKwindow/right-top.gif) no-repeat 0 0;			
  width:10px;	  
  height:25px;
}

.BLACKwindow_w {
  background: transparent url(BLACKwindow/frame-left.gif) repeat-y top left;			
  width:7px;
}

.BLACKwindow_e {
  background: transparent url(BLACKwindow/frame-right.gif) repeat-y top right;			
  width:7px;	  
}

.BLACKwindow_sw {
  background: transparent url(BLACKwindow/bottom-left-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.BLACKwindow_s {
  background: transparent url(BLACKwindow/bottom-middle.gif) repeat-x 0 0;			
  height:7px;
}

.BLACKwindow_se, .BLACKwindow_sizer  {
  background: transparent url(BLACKwindow/bottom-right-c.gif) no-repeat 0 0;			
  width:7px;
  height:7px;
}

.BLACKwindow_sizer {
	cursor:se-resize;	
}

.BLACKwindow_close {
	width: 23px;
	height: 23px;
	background: transparent url(BLACKwindow/button-close-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:11px;
	cursor:pointer;
	z-index:1000;
}

.BLACKwindow_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(BLACKwindow/button-min-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:55px;
	cursor:pointer;
	z-index:1000;
}

.BLACKwindow_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(BLACKwindow/button-max-focus.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}

.BLACKwindow_title {
	float:left;
	height:14px;
	font-size:14px;
	text-align:center;
	margin-top:2px;
	width:100%;
	font: 15px berkelium_64medium;
	color:#FFF;
}

.BLACKwindow_content {
	overflow:auto;
	color: #000;
	font: 10px berkelium_64medium;
	background:#FFF;
}

/* For alert/confirm dialog */
.BLACKwindow_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.BLACKwindow_message {
    font: 12px Arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.BLACKwindow_buttons {
	text-align:center;
	width:100%;
}

.BLACKwindow_buttons input {
	width:20%;
	margin:10px;
}

.BLACKwindow_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}

.BLACKwindow_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;	
}


