alert tcp any any -> 10.101.148.46 :1024 (msg:"port scanner"; threshold:type both, track by_src, count 5 , seconds 60;  sid:1000011; rev:0;)

alert tcp any any -> 10.101.148.46 25565 (msg:"client tring to connect 3 times to secShareServer"; threshold:type threshold, track by_src, count 3 , seconds 20; sid:1000012; rev:1;)